{
    admin off
    auto_https disable_redirects
    servers {
        timeouts {
            read_header 10s
            read_body 15s
            idle 60s
        }
    }
}
http://:8081 {
    request_body {
        max_size 64KB
    }
    @documentacao path /docs /docs/* /redoc /openapi.json
    respond @documentacao 404
    reverse_proxy aluno:8081
}
http://:18000 {
    request_body {
        max_size 64KB
    }
    reverse_proxy backend:8000
}
